.cart_page {
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .cartpage_inner_container{
        width: 80%;
        margin: auto;
        padding: 1.5rem 0rem;

        .cart_itme_grid {
            width: 60%;
            margin: auto;
        }
    }
}